.GeneralContainer{
    display:flex;
    border:2px solid green;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-image: url('../../Assets/paper.jpg');
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.8;
}

.FormContainer{
    display:flex;
    flex-direction: column;
    flex-basis:50%
}