.GeneralContainer{
    display:flex;
    // border:2px solid green;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-image: url('../../Assets/paper.jpg');
    // background-attachment: fixed;
    background-size: cover;
    opacity: 0.8;
}

.FormContainer{
    display:flex;
    flex-direction: column;
    flex-basis:50%;
    gap:1em;
    background-color: black;
    flex-basis:0;
    border-radius:2em;
}

.ButtonContainer{
    display:flex;
    justify-content: center;
    
    button{
        flex-basis:50%;
        height: 5vh;
        border-radius: 1em;
        background-color: #9c837c;
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        opacity: 0.6;
        transition: 0.3s;
        border-radius: 2em;
        cursor: pointer;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    button:hover {opacity: 1}
}

.InputContainer{
    display:flex;
    flex-direction: column;
    gap:1em;
    padding:1em;
    border-radius:2em;
    color:white;
    // border:2px solid blue;
    background-color: black;
    
}

.Message{
    display:flex;
    justify-content: center;
    color:white;
}

.PaddingContainer{
    padding:1em;
    border-radius:2em;
    background-color: gray;
}

.InputText textarea{
    border-radius:0 2em 2em 2em;
}


    
       
