@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap');

.CentralContainer{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url('../../Assets/city.jpg');
    background-position: center;
    flex:1;
    
    h1{
        color:white;
        font-family: 'Nuosu SIL', serif;
        font-size:2em;  
        margin-bottom: 50px;
        // text-shadow: 5px 1px 0 purple;           
    }
}

